node_modules       # Menghindari meng-copy dependensi Node.js ke dalam container
vendor             # Menghindari meng-copy dependensi Composer ke dalam container
storage/logs       # Menghindari meng-copy log yang tidak diperlukan ke container
storage/framework  # Menghindari meng-copy cache framework Laravel
